# Ignore Python bytecode and cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment directories
venv/
env/
*.env
.venv

# Ignore Docker-related files
docker-compose.yml

# Ignore any environment variable files
.env

# Ignore any local development configuration files
.vscode/
.idea/

# Ignore test directories
tests/

# Ignore any log files
*.log
